<table class="table caption-top">
   <caption>Rental List</caption>
    <thead>
        <tr>
    <th>Id</th>      
    <th>First Name</th>
    <th>Last Name</th>
    <th>Company Name</th>
    <th>Brand Name</th>
    <th>Rent Date</th>
    <th>Return Date</th>
        </tr>
    
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.rentalId}}</td>
            <td>{{rental.firstName}}</td>
            <td>{{rental.lastName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
    
</table>
