<div class="content" id="debitCard">
    <div class="cool-md-12">
     <div class="card">
         <div class="card-header"><h5 class="title">Kredi Kartı Bilgileri</h5></div>
         <div class="card-body">
             <form [formGroup]="paymentForm">
                 <div class="mb-3">
                     <div class="form-group">
                     <label for ="firstName">Ad : </label>
                     <input type="text" id="firstName" formControlName="firstName" class="form-control">
                     <label for ="lastName">Soyad : </label>
                     <input type="text" id="lastName" formControlName="lastName" class="form-control">
                     <label for ="cardNumber">Kart Numarası : </label>
                     <input type="number" id="cardNumber" formControlName="cardNumber" class="form-control">
                     <label for ="passsword">Kart Şifresi : </label>
                     <input type="text" id="password" formControlName="password" class="form-control">
                     <label for ="ccv">CCV : </label>
                     <input type="number" id="ccv" formControlName="ccv" class="form-control">
                     <label for ="expYear">Yıl : </label>
                     <input type="number" id="expYear" formControlName="expYear" class="form-control">
                     <label for ="expMonth">Ay : </label>
                     <input type="number" id="expMonth" formControlName="expMonth" class="form-control">
                     </div>
                 </div>
                 
                    <button class="btn btn-fill btn-primary" (click)="paymentAdd()">Ödemeyi Gerçekleştir</button>
                
             </form>
         </div>
        
     </div>
    </div>


</div>

