

<form [formGroup]="paymentForm" class="row g-3" >
    <div class="col-md-4">
      <label for="firtsName" class="form-label">Ad</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control" >
      
    </div>
    <div class="col-md-4">
      <label for="lastName" class="form-label">Soyad : </label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control" >
      
    </div>
    <div class="col-md-4">
      <label for="ccv" class="form-label">CCV</label>
      <input type="number" id="ccv" formControlName="ccv" class="form-control" >
        
        
        
      
    </div>
    <div class="col-md-6">
      <label for="cardNumber" class="form-label">Kart Numarası:</label>
      <input type="number" class="form-control" id="cardNumber" formControlName="cardNumber">
      
    </div>

    <div class="col-md-3">
        <label for="expYear" class="form-label">Yıl</label>
        <input formControlName="expYear" type="number"   class="form-control" id="expYear" >
          
        
       
      </div>
    
      <div class="col-md-3">
          <label for="expMonth" class="form-label">Ay</label>
          <input formControlName="expMonth" type="number" class="form-control" id="expMonth" >
          
          
      </div>
  <div class="col-12">
    <button class="btn btn-success" (click)="makeThePayment()">Ödemeyi Gerçekleştir</button>
  </div>
    
  </form>
  



  